body {
    background: $light;
    color: $dark;
    letter-spacing: 1px;
    font-family: 'Cabin', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

.navbar {
    background: $blue;
    font-weight: 500;
    letter-spacing: 1.5px;

    .navbar-nav {
        text-transform: uppercase;

        button {
            background: none;
            border: none;
            text-transform: uppercase;
            margin: 0;
        }
    }
}

footer {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    background: $yellow;
    border: none;
    border-radius: 5px;
    color: $dark;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

.btn2 {
    background: $light;
    color: $dark;
}

.landing {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: $blue;
}

.btn:hover {
    background: $hover-y;
}

.btn2:hover {
    background: $hover;
}

a:hover {
    text-decoration: none;
}