.home {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $light;
}

.page {
    height: 90vh;
    background: $light;
    display: flex;
    align-items: center;
    justify-content: center;


}

.profile {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-group {
        align-items: center;
    }

    .col-sm-7,
    .col-md-8,
    .col-lg-9 {
        margin-bottom: 1em;
    }


    .btn {
        margin: 0 1em;
    }

    .service-box {
        background: white;
        border-radius: 15px;
        border: 1.5px $light solid;
        padding: 1em 1.5em;
        box-shadow: $shadow;
        margin: 1em 0;


    }

    .service-box:hover {
        cursor: pointer;
    }

}