$purple: #7c73e6;
$blue: #1E79C3;
$light-blue: #009DD6;
$light: #f9f9f9;
$lighter: #DDF2FF;
$dark: #3E4756;

$yellow: #FFC961;
$hover-y: rgba(255, 200, 97, 0.9);
$hover: rgba(250, 248, 255, 0.9);
$transparent-dark: rgba(0, 0, 0, 0.2);
$transparent: rgba(255, 255, 255, 0.8);

$shadow: 0 0px 10px rgba(0, 0, 0, 0.1)