$gradient3: #2b5492,
#2b649f,
#2e75ab,
#3685b6,
#4295c0,
#4a9fc7,
#52a8cf,
#5ab2d6,
#5db8dd,
#60bde4,
#64c3eb,
#67c9f2;

$bg: #3179aa,
#3880b0,
#3f86b7,
#468dbd,
#4d94c4,
#549aca,
#5aa1d0,
#61a7d6,
#69aedd,
#72b5e3,
#7abdea,
#82c4f1;

$gradient2:#2b5492,
#3270ac,
#3e8dc5,
#50abdc,
#67c9f2;

$transparent: rgba(255, 255, 255, 0.6);
$dark-transparent: rgba(0, 0, 0, 0.5);

$dark: #394855;
$sand: #e3c4a8;
$purple: #845EC2;
$orange: #FF9671;
$yellow: #FFC75F;
$light: #f6f5f5;
$blue: #569DCD;
$dark-blue: #3179AA;
$light-blue: #82C4F1;
$blue-hover: #2C73D2;


$shadow: 0px 7px 20px -10px rgba(0, 0, 0, 0.5);

$bground: linear-gradient(to right top, $bg);